{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{ title|title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
{% endblock %}

{% block content %}
<div class="hero-white">
	{% include 'includes/_main_menu.html' with products=True %}
</div>

<div class="details">
	{% include 'includes/_links_menu.html' %}

	{% if not pk %}
	<div class="details-products">
		<div class="details-slider">
			<div class="slider-product">
				{% if popular_item.image %}
					<img src="/media/{{ popular_item.image }}" class="product-image" alt="">
					{% else %}
					<img src="{% static 'img/not-available.jpg' %}" class="product-image" alt="">
					{% endif %}
			</div>
			<div class="slider-control">
				<div class="block">
					<a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{% static 'img/controll1.jpg' %}" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{% static 'img/controll2.jpg' %}" alt="">
						<div class="text"></div>
					</a>
				</div>
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">{{popular_item.name}}</h3>
			<h3 class="red">горячее предложение</h3>
			<p class="price"> {{popular_item.price}} <span>руб</span></p>
			<a href="#" class="red-button">
				заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>{{ popular_item.description }}</p>
			</div>
		</div>
	</div>
	{% endif %}

	<div class="related">
		<div class="title clearfix">
			<h2>продукты</h2>
			<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
		</div>
		<div class="related-products clearfix">
			{% for product in product_list %}
			<div class="block">
				<a href="/products/product/{{ product.pk }}/">
					{% if product.image %}
					<img src="/media/{{ product.image }}" class="product-image" alt="">
					{% else %}
					<img src="{% static 'img/not-available.jpg' %}" class="product-image" alt="">
					{% endif %}
					<div class="text">
						<img src="{% static 'img/icon-hover.png' %}" alt="img">
						<h4>{{ product.name }}</h4>
						<p>{{ product.description }} </p>
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="pagination">
				<span class="step-links">
					{% if page_obj.has_previous %}
						<a href="?page=1">&laquo; first</a>
						<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
			
					<span class="current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
			
					{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">next</a>
						<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
					{% endif %}
				</span>
			</div>

		</div>
	</div>
</div>

{% endblock %}