{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
{% endblock %}

{% block content %}

<div class='window'>
    <div class='overlay'>
        <div class='content'>
            <div class='welcome'>Hello There!</div>

            <div class='input-fields'>
                <form action="{% url 'auth:login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form.errors }}
                    {{ login_form.non_field_errors }}
                    {{ login_form.as_p }}
                    <div><button class='ghost-round full-width' type="submit">Log in</button></div>
                </form>
                <div><a href="{% url 'auth:register' %}"><button class='ghost-round full-width'
                            type="button">Register</button></a></div>
            </div>

        </div>
    </div>
</div>

{% endblock %}