{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
{% endblock %}

{% block content %}


<div>
    {% if status %}
    <h3>Ваше аккаунт успешно активирован</h3>
    {% else %}
    <h3>При активации аккаунта произошла ошибка</h3>
    {% endif %}
    <a href="{% url 'mainapp:index' %}"><button>На главную</button></a>
</div>

{% endblock %}