{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/basket_script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="hero-white">
    {% include 'includes/_main_menu.html' %}
</div>

<div class="basket-list">

    {% include 'includes/_basket_list.html'%}
</div>
{% endblock %}